.profile {
  padding: 70px;
  @media screen and (max-width: 762px) {
    padding: 70px 20px;
  }
}

.profile__side-info__link {
  text-decoration: none;

  font-weight: 600;
  text-align: center;
  cursor: pointer;

  a:hover {
    text-decoration: none;
  }
  & p {
    width: fit-content;
    margin: auto;
  }
}
.link-orange {
  color: #ffa916;
}
.link-green {
  color: #6bb772;
}

.profile__side-info__social {
  padding: 15px;
}
.profile__side-info__social__text {
  font-weight: 600;
}
.profile__side-info__social__icon {
  width: 29px;
  border-radius: 100%;
}
.profile__side-info__secondry-info {
  color: grey;
  padding-top: 10px;
  font-weight: 500;
}
.profile__main-info {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 32px;
  border-radius: 41px;
}
.profile__main-info__item {
  margin-bottom: 25px;
}
.profile__main-info__item__head {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 15px;
}
.profile {
  .modal-body {
    min-height: 500px;
  }
}
.message-sent {
  & > i {
    font-size: 116px;
    color: green;
    margin-bottom: 47px;
    margin-top: 110px;
  }
}
