.dashboard{

}

.dashboard__content{
       padding-left: 213px;
    padding-right: 95px;
    @media(max-width:1250px){
    width: 1242px;
    }
    width:100%
}
.dashboard__content__section{
  padding:20px 80px 20px 20px
}
.analysis_ranks{
  
}