/*colors*/
$main-blue: #628cb2;
$off-white: #bfbfbf;
$overlay-color: rgba(0, 0, 0, 0.5);
$gold: #c28e00;
/*dimentions*/

//margin
$margin-xs: 10px;
$margin-sm: 20px;
$margin-md: 30px;
$margin-lg: 40px;
$margin-xl: 50px;

//border-radius
$radius-sm: ptTOpx(11);
$radius-lg: ptTOpx(27);

//padding
$padding-xs: 2px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;
